<form action="/urls" method="post">
Enter URL:
	<input type ="text" name="long_url">
	<input type="submit" value="Submit">
</form>

<% @url.each do |url| %>
	<p> Long url: <%= url.long_url %>      Short url: <%= "http://localhost:9393/" + url.short_url %></p>
<% end %>

<!-- <h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p> -->